.testingtext {
    padding: 1rem;
    background-color: antiquewhite;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}
.image-sizing{
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
}

.experience-header {
    padding-left: 0%;
    padding-top: 2%;
}
.sub-experience-padding{
    padding-left: 5%;
    padding-top: 5%;
}

.align-start-end-dates {
    text-align: right;
    padding-top: 12%;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}

.graydot {
    height: 1;
    width: 1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.blackdot {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }

.testing-round-box {
    border-top:1px;
    border-bottom: 1px;
    border-style: solid;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    width:max-content;
}